<div class="home about face-banner %>">
  <div class="home-wrapper">
    <%= link_to (image_tag 'name-5'), 'mailto:bkohler4@gmail.com?' %>

    <div class="about-links">
      <ul>
        <li>  <%= link_to 'code', "https://github.com/williamkohler" %></li>
        <li><%= link_to 'film',
        "https://letterboxd.com/williamkohler/likes/films/by/release/" %></li>
        <li><%= link_to 'music',
        "https://www.last.fm/user/mifami" %>
        </li>
        <li><%= link_to 'Resume',
        "https://drive.google.com/open?id=14b-0VZQkaJFLOYYzuaskF--b5EBIx7QB" %></li>
      </ul>
      <div class="face-test"></div>
    </div>
  </div>
</div>
