<div class="video-wrapper">
  <%= video_tag("dancing-1986-1987-2.mp4", autoplay: :autoplay, loop: :loop, muted: true, playsinline: true, controls: false, id: 'video-background') %>
  <div class="overlay-desc">
    <div>
      <%= link_to (image_tag 'name-7'), 'mailto:bkohler4@gmail.com?' %>
    </div>
    <div class="test-links">
      <ul>
        <li>
          <%= link_to "code i've written", "https://github.com/williamkohler" %></li>
        <li><%= link_to "work i've done", "https://drive.google.com/open?id=14b-0VZQkaJFLOYYzuaskF--b5EBIx7QB" %>
        </li>
      </ul>
      <div class="space-breaker"></div>
      <ul>
        <li><%= link_to "music i'm listening to", "https://www.last.fm/user/mifami" %>
        </li>
        <li><%= link_to 'films i like', "https://letterboxd.com/williamkohler/likes/films/by/release/" %>
        </li>
        <li>&#11015;</li>
      </ul>
    </div>
  </div>
</div>
<div class="music-wrapper" id="music-player">
  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/206728279&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
</div>
