<div class="home about home-banner-<%= rand(1..2) %>">
  <div class="home-wrapper">
    <h1><%= link_to "Bill Kohler", 'mailto:bkohler4@gmail.com?' %></h1>
    <div class="about-links">
      <%= link_to 'code', "https://github.com/williamkohler" %>
      |
      <%= link_to 'film',
      "https://letterboxd.com/williamkohler/likes/films/by/release/" %>
      |
      <%= link_to 'music', "https://www.last.fm/user/mifami" %>
    </div>
  </div>
</div>
