<div class="video-wrapper">
  <%= video_tag("dancing-1986-1987-2.mp4", autoplay: :autoplay, loop: :loop, muted: true, playsinline: true, controls: false, id: 'video-background') %>
  <div class="overlay-desc">
    <div>
      <%= link_to (image_tag 'name-7'), 'mailto:bkohler4@gmail.com?' %>
    </div>
    <div class="test-links">
      <ul>
        <li>
          <%= link_to "code i've written", "https://github.com/williamkohler" %></li>
        <li><%= link_to "work i've done", "https://drive.google.com/open?id=14b-0VZQkaJFLOYYzuaskF--b5EBIx7QB" %>
        </li>
      </ul>
      <!-- <div class="space-breaker"></div> -->
      --
      <ul>
        <li><%= link_to "music i'm listening to", "https://www.last.fm/user/mifami" %>
        </li>
        <li><%= link_to 'films i like', "https://letterboxd.com/williamkohler/likes/films/by/release/" %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="music-wrapper" id="music-player"></div>
